# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
venv/
ENV/
env/
venv.bak/
.venv/

# pipenv
Pipfile.lock

# Pyre type checker
.pyre/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
pytest_cache/
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff:
*.log
staticfiles/
media/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# vscode
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/
